
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.navbar {
    background-color: transparent;
    padding: 50px;
    height: 12px;
    box-shadow: none;
}

.navbar-brand {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.nav-item .nav-link {
    font-size: 1.2rem;
    color: black;
    padding-left: 20px;
}

.navbar-toggler {
    border: none;
}

.nav-item i {
    margin-right: 8px;
    font-size: 1rem;
}

@media (min-width: 992px) {
    .navbar-nav:first-child {
      margin-right: auto;
    }
    .navbar-nav:last-child {
      margin-left: auto;
    }
  }

.navbar-nav .nav-link {
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.navbar {
    background-color: transparent;
    transition: background-color 200ms linear;
    box-shadow: none;
    padding-top: 30px;
}

.navbar.scrolled {
    background-color: #ffffff !important;
    box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.1);
    padding-top: 30px;
}

.brand-gucci {
    font-size: 16rem !important;
    color: #ffffff;
    transition: font-size 0.6s ease, margin-top 0.6s ease;
    margin-top: 300px;
}

.navbar.scrolled .brand-gucci {
    font-size: 2rem !important;
    color: black;
    margin-top: 10px;

}

.items-left, .items-right {
    display: flex;
    align-items: center;
}

.ao{
    margin-bottom:15%;
}
.ap{
    margin-bottom:10%;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    padding: 0 1em;
    font-family: "HK Guise";
    font-weight: 500;
    font-size: 12px;
}

.logo-container {
    flex: 1;
    text-align: center;
}

.logo {
    font-family: "Gucci";
    padding: 1em 0;
    transition: all 0.3s ease;
}

.nav.scrolled .logo {
    font-size: 1.5em;
}

.ag{
    margin-top:20%;
}

.card-img {
    width: 100%;
    height: auto;
}

.card-btn-top {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px 20px;
    color: black;
    font-weight: bold;
}

.card-btn-bottom {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px 20px;
    color: black;
    font-weight: bold;
}

.custom-card {
    border: none;
}

.ak{
    bottom: 50%;
    left: 39%;
    font-family:"Gucci Sans Pro", Helvetica, Arial, sans-serif;
    font-size:40px;
}
.al{
    margin-bottom:20%;
}

/* Hover effect */
.card-btn:hover {
    background: black;
}


/* card 2 */
.card-fullscreen {
    height: 100vh;
    position: relative;
    background-color: #f8f9fa;
    overflow: hidden;
}

.card-img {
    height: 100%;
    object-fit: cover;
}

.card-btn {
    position: absolute;
    background:rgba(255, 255, 255, 0.7);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-btn-top {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

/* Button at the bottom */
.card-btn-bottom {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* Hover effect for buttons */
.card-btn:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
}

.ab{
    font-family: "Gucci Sans Pro", Helvetica, Arial, sans-serif;
}
.ac{
    font-family:"Gucci Sans Pro", Helvetica, Arial, sans-serif;
}
.ad{
    margin-top:20%;
    margin-bottom:5%;
}

.ae{
    margin-top:100%;
    font-family:font-family: "Gucci Sans Pro", Helvetica, Arial, sans-serif;;
}
.af{
    margin-top:110%;
}


/* tiga video */
.video-container {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.video-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.video-btn:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: none;
    margin: 0;
    padding: 0;
}


/* input */
/* Menghilangkan kotak putih pada input */
input[type="text"] {
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
  width: 100%;
  padding: 0;
}

/* Mengubah gaya garis di bawah teks */
hr {
  border: 0;
  margin-bottom:15%;
  height: 2px;
  background-color: #fff;
  width: 100%;
  margin-top: 4px;
}

/* Style label untuk mengatur spasi */
.form-label {
  font-size: 16px;
  color: #fff;
  display: block;
  margin-bottom: 5px;
}

.ah{
    margin-top:50%;
}
.ai{
    margin-top: 10%;
    margin-bottom:8%;
}


button {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
    overflow: hidden;
    cursor: pointer;
  }

  button::after {
    content: '';
    z-index: -1;
    background-color: hsla(0, 0%, 100%, 0.2);
    position: absolute;
    top: -50%;
    bottom: -50%;
    width: 1.25em;
    transform: translate3d(-525%, 0, 0) rotate(35deg);
  }

  button:hover::after {
    transition: transform 0.45s ease-in-out;
    transform: translate3d(200%, 0, 0) rotate(35deg);
  }


  span {
    position: relative;
  }

  span::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fc2f70;
    transform-origin: center;
    transform: translate(-50%, 0) scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  span:hover::before {
    transform: translate(-50%, 0) scaleX(1);
  }


  .aj{
    font-family: "Gucci";
    font-size:350px;
        letter-spacing: 100px;
  }
